.cacheTout {
    position: fixed;
    top: 19%;
    right: 30px;
    width: 74%;
    height: 70%;
    background: rgba(255, 255, 255, 0.719);
    z-index: 100;
    text-align: center;
    padding-top: 7%;
    font-size: 2em;
    font-weight: 500;
}